.main_header_style {
    background-color: #B9EEDE;
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.main_header_style a {
    font-family: Calibri, sans-serif;
    color: #577e86;
    font-weight: normal;
    text-decoration: none;
    font-size: 32px;
    margin-right: 30px;
}

.hyperlink_div {
    align-items: center;
    float: left;
    margin: auto;
}

