/* /Pages/AboutPage.razor.rz.scp.css */
.slider[b-h27hyts6ev] {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider-image[b-h27hyts6ev] {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}
/* /Pages/MainPage.razor.rz.scp.css */
header[b-vtpqscnzqz], footer[b-vtpqscnzqz] {
    background-color: #B9EEDE;
    height: fit-content;
    width: auto;
}

.header_container[b-vtpqscnzqz], .footer_container[b-vtpqscnzqz] {
    margin: 0 30px;
}

.navigation[b-vtpqscnzqz] {
    height: fit-content;
    width: fit-content;
    text-align: center;
}

.navigation_item[b-vtpqscnzqz] {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 28px;
    margin-right: 40px;
}

.navigation_item:hover[b-vtpqscnzqz] {
    color: white;
}

.navigation_item_registration[b-vtpqscnzqz] {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 28px;
    margin-right: 40px;
}

.navigation_item_registration:hover[b-vtpqscnzqz] {
    color: white;
}

.navigation_item_enter[b-vtpqscnzqz] {
    background-color: #567C86;
    color: white;
    text-decoration: none;
    padding: 10px 23px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 20px;
}

.navigation_item_enter:hover[b-vtpqscnzqz] {
    background-color: white;
    color: #567C86;
    cursor: pointer;
}

.authentication[b-vtpqscnzqz] {
    display: flex;
}

.header_line[b-vtpqscnzqz], .footer_line[b-vtpqscnzqz] {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_div[b-vtpqscnzqz] {
    height: fit-content;
    width: fit-content;
    margin-right: 30px;
}

.icon[b-vtpqscnzqz] {
    height: 90px;
    width: 312px;
}

.extra_navigation[b-vtpqscnzqz] {
    background-color: #B9EEDE;
    display: none;
    flex-direction: column;
    text-align: center;
}

.menu_button[b-vtpqscnzqz] {
    background-color: #567C86;
    color: white;
    text-decoration: none;
    padding: 15px 23px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 24px;
    display: none;
}

.menu_button:hover[b-vtpqscnzqz] {
    background-color: white;
    color: #567C86;
    cursor: pointer;
}

.address_div[b-vtpqscnzqz] {
    padding-top: 10px;
    color: #567C86;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
}

.address_div a[b-vtpqscnzqz] {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
}

.address_div a:hover[b-vtpqscnzqz] {
    color: white;
}

.footer_links[b-vtpqscnzqz] {
    display: flex;
}

.footer_links_column[b-vtpqscnzqz] {
    display: flex;
    flex-direction: column;
}

.footer_links_column a[b-vtpqscnzqz] {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 20px;
    white-space: nowrap;
}

.footer_links_column a:hover[b-vtpqscnzqz] {
    color: white;
}

.footer_email_subscribe[b-vtpqscnzqz] {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer_email_subscribe text[b-vtpqscnzqz] {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 20px;
    white-space: nowrap;
    padding-bottom: 10px;
}

.subscription_field[b-vtpqscnzqz] {
    display: flex;
    white-space: nowrap;
}

.email_input[b-vtpqscnzqz] {
    border-radius: 10px;
    margin-right: 20px;
    border: none;
    background-color: #86CBB9;
    width: 250px;
    text-indent: 5px;
}

.email_input:focus[b-vtpqscnzqz] {
    outline: none;
}

.subscribe_button[b-vtpqscnzqz] {
    border-radius: 10px;
    background-color: #567C86;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 12px;
    padding: 7px 10px;
}

.subscribe_button:hover[b-vtpqscnzqz] {
    color: #567C86;
    background-color: white;
}

.social_networks[b-vtpqscnzqz] {
    padding-top: 10px;
}

.social_networks_icon[b-vtpqscnzqz] {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 530px) {
    .icon[b-vtpqscnzqz] {
        content: url("images/small_icon.png");
        height: 90px;
        width: 99px;
    }
}

@media screen and (max-width: 960px) {
    .header_line[b-vtpqscnzqz] {
        justify-content: space-evenly;
    }
    .navigation[b-vtpqscnzqz], .authentication[b-vtpqscnzqz] {
        display: none;
    }
    .menu_button[b-vtpqscnzqz] {
        display: block;
    }
    .extra_navigation[b-vtpqscnzqz] {
        display: flex;
    }
}

@media screen and (max-width: 1440px) {
    .navigation_item_registration[b-vtpqscnzqz] {
        margin-right: 0;
    }
    .authentication[b-vtpqscnzqz] {
        flex-direction: column;
        text-align: center;
    }
}
