/* /Pages/MainPage.razor.rz.scp.css */
header[b-vtpqscnzqz] {
    background-color: #B9EEDE;
    height: fit-content;
    width: auto;
}

.header_container[b-vtpqscnzqz] {
    margin: 0 30px;
}

.navigation[b-vtpqscnzqz] {
    height: fit-content;
    width: fit-content;
    text-align: center;
}

.navigation_item[b-vtpqscnzqz] {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 28px;
    margin-right: 40px;
}

.navigation_item:hover[b-vtpqscnzqz] {
    color: white;
}

.navigation_item_registration[b-vtpqscnzqz] {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 28px;
    margin-right: 40px;
}

.navigation_item_registration:hover[b-vtpqscnzqz] {
    color: white;
}

.navigation_item_enter[b-vtpqscnzqz] {
    background-color: #567C86;
    color: white;
    text-decoration: none;
    padding: 10px 23px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 20px;
}

.navigation_item_enter:hover[b-vtpqscnzqz] {
    background-color: white;
    color: #567C86;
    cursor: pointer;
}

.authentication[b-vtpqscnzqz] {
    display: flex;
}

.header_line[b-vtpqscnzqz] {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_div[b-vtpqscnzqz] {
    height: fit-content;
    width: fit-content;
    margin-right: 30px;
}

.icon[b-vtpqscnzqz] {
    height: 90px;
    width: 312px;
}

.extra_navigation[b-vtpqscnzqz] {
    background-color: #B9EEDE;
    display: none;
    flex-direction: column;
    text-align: center;
}

.menu_button[b-vtpqscnzqz] {
    background-color: #567C86;
    color: white;
    text-decoration: none;
    padding: 15px 23px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 24px;
    display: none;
}

.menu_button:hover[b-vtpqscnzqz] {
    background-color: white;
    color: #567C86;
    cursor: pointer;
}

@media screen and (max-width: 530px) {
    .icon[b-vtpqscnzqz] {
        content: url("images/small_icon.png");
        height: 90px;
        width: 99px;
    }
}

@media screen and (max-width: 960px) {
    .header_line[b-vtpqscnzqz] {
        justify-content: space-evenly;
    }
    .navigation[b-vtpqscnzqz], .authentication[b-vtpqscnzqz] {
        display: none;
    }
    .menu_button[b-vtpqscnzqz] {
        display: block;
    }
    .extra_navigation[b-vtpqscnzqz] {
        display: flex;
    }
}

@media screen and (max-width: 1440px) {
    .navigation_item_registration[b-vtpqscnzqz] {
        margin-right: 0;
    }
    .authentication[b-vtpqscnzqz] {
        flex-direction: column;
        text-align: center;
    }
}
