.slider[b-h27hyts6ev] {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider-image[b-h27hyts6ev] {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}