@inherits LayoutComponentBase
<PageTitle>Наставники</PageTitle>
<header>
    <div class="header_container">
        <div class="header_line">
            <div class="icon_div">
                <a href="#">
                    <img class="icon" src="images/icon.png" alt="Icon"/>
                </a>
            </div>
            <div class="navigation">
                <a class="navigation_item" href="#">О портале</a>
                <a class="navigation_item" href="#">События</a>
                <a class="navigation_item" href="#">Интервью</a>
                <a class="navigation_item" href="#">Чаты</a>
            </div>
            <div class="authentication">
                <a class="navigation_item_registration" href="#">Регистрация</a>
                <a class="navigation_item_enter" href="#">Вход</a>
            </div>
            <a class="menu_button" @onclick="ToggleDropdown">Меню</a>
        </div>
    </div>
    @if (showDropdown)
    {
        <div class="extra_navigation">
            <a class="navigation_item" href="#" @onclick="ToggleDropdown" >О портале</a>
            <a class="navigation_item" href="#" @onclick="ToggleDropdown" >События</a>
            <a class="navigation_item" href="#" @onclick="ToggleDropdown" >Интервью</a>
            <a class="navigation_item" href="#" @onclick="ToggleDropdown" >Чаты</a>
            <a class="navigation_item" href="#" @onclick="ToggleDropdown" >Регистрация</a>
            <a class="navigation_item" href="#" @onclick="ToggleDropdown" >Вход</a>
        </div>
    }
    
</header>
<body>
    @Body
</body>
<footer>
    <div class="footer_container">
        <div class="footer_line">
            <div class="icon_div">
                
            </div>
        </div>
    </div>
</footer>

@code {
    private bool showDropdown;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }
}