@page "/"
<PageTitle>Наставники</PageTitle>
<header class="main_header_style">
    <div>
        <img src="images/icon.png" alt="Icon" height="130" width="390" />
    </div>
    <div class="hyperlink_div">
        <a href="#">О портале</a>
        <a href="#">События</a>
        <a href="#">Интервью</a>
        <a href="#">Чаты</a>
        <a href="#">Помощь</a>
    </div>
</header>


@code {
    
}