header, footer {
    background-color: #B9EEDE;
    height: fit-content;
    width: auto;
}

.header_container, .footer_container {
    margin: 0 30px;
}

.navigation {
    height: fit-content;
    width: fit-content;
    text-align: center;
}

.navigation_item {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 28px;
    margin-right: 40px;
}

.navigation_item:hover {
    color: white;
}

.navigation_item_registration {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 28px;
    margin-right: 40px;
}

.navigation_item_registration:hover {
    color: white;
}

.navigation_item_enter {
    background-color: #567C86;
    color: white;
    text-decoration: none;
    padding: 10px 23px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 20px;
}

.navigation_item_enter:hover {
    background-color: white;
    color: #567C86;
    cursor: pointer;
}

.authentication {
    display: flex;
}

.header_line, .footer_line {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_div {
    height: fit-content;
    width: fit-content;
    margin-right: 30px;
}

.icon {
    height: 90px;
    width: 312px;
}

.extra_navigation {
    background-color: #B9EEDE;
    display: none;
    flex-direction: column;
    text-align: center;
}

.menu_button {
    background-color: #567C86;
    color: white;
    text-decoration: none;
    padding: 15px 23px;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 24px;
    display: none;
}

.menu_button:hover {
    background-color: white;
    color: #567C86;
    cursor: pointer;
}

.address_div {
    padding-top: 10px;
    color: #567C86;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
}

.address_div a {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
}

.address_div a:hover {
    color: white;
}

.footer_links {
    display: flex;
}

.footer_links_column {
    display: flex;
    flex-direction: column;
}

.footer_links_column a {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 20px;
    white-space: nowrap;
}

.footer_links_column a:hover {
    color: white;
}

.footer_email_subscribe {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer_email_subscribe text {
    color: #567C86;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 20px;
    white-space: nowrap;
    padding-bottom: 10px;
}

.subscription_field {
    display: flex;
    white-space: nowrap;
}

.email_input {
    border-radius: 10px;
    margin-right: 20px;
    border: none;
    background-color: #86CBB9;
    width: 250px;
    text-indent: 5px;
}

.email_input:focus {
    outline: none;
}

.subscribe_button {
    border-radius: 10px;
    background-color: #567C86;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 506;
    font-style: normal;
    font-size: 12px;
    padding: 7px 10px;
}

.subscribe_button:hover {
    color: #567C86;
    background-color: white;
}

.social_networks {
    padding-top: 10px;
}

.social_networks_icon {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 530px) {
    .icon {
        content: url("images/small_icon.png");
        height: 90px;
        width: 99px;
    }
}

@media screen and (max-width: 960px) {
    .header_line {
        justify-content: space-evenly;
    }
    .navigation, .authentication {
        display: none;
    }
    .menu_button {
        display: block;
    }
    .extra_navigation {
        display: flex;
    }
}

@media screen and (max-width: 1440px) {
    .navigation_item_registration {
        margin-right: 0;
    }
    .authentication {
        flex-direction: column;
        text-align: center;
    }
}