@inherits LayoutComponentBase
<PageTitle>Наставники</PageTitle>
<header>
    <div class="container">
        <div class="header_line">
            <div class="icon_div">
                <a href="#">
                    <img class="icon" src="images/icon.png" alt="Icon"/>
                </a>
            </div>
            <div class="navigation">
                <a class="navigation_item" href="#">О портале</a>
                <a class="navigation_item" href="#">События</a>
                <a class="navigation_item" href="#">Интервью</a>
                <a class="navigation_item" href="#">Чаты</a>
                <a class="navigation_item" href="#">Помощь</a>
            </div>
            <div class="authentication">
                <a class="navigation_item" href="#">Регистрация</a>
                <a class="navigation_item_enter" href="#">Вход</a>
            </div>
        </div>
    </div>
</header>
<body>
    @Body
</body>